html {
    font-size: 16px;
}

body {
    /* background: linear-gradient(to bottom right, #2F0743, #41295a) */
    background: #000;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    font-size: 1rem;
    line-height: 1.6;
}

.h-100 {
    height: 100%;
}

img {
    max-width: 100%;
}

a {
    font: inherit;
    color: inherit;
    text-decoration: none;
}

.logo {
    text-transform: uppercase;
    letter-spacing: -2px;
    font-weight: 500;
    font-size: 1.8rem;
}

.logo span {
    font-weight: 700
}

.share > *, .login > * {
    margin: 0 10px;
}

.intro {
    width: 30%;
}

.spotify-button {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 9px;
    cursor: pointer;
    transition: all 0.3s;
    display: inline-flex;
    height: 1.6rem;
}

.login-button:hover {
    border-color: rgba(255, 255, 255, 0.5)
}

.spotify-logo {
    max-width: 72px;
}

.twitter-logo {
    max-width: 28px;
}

.playlists-loading {
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: 10;
    border-radius: 9px;
    background: rgba(0,0,0, 0.85)
}

.playlist-loading-text {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-size: 1rem;
}

.progress-container {
    width: 100%;
    height: 0.3rem;
    border-radius: 9px;
    background: rgba(0,0,0,0.8);
}

.progress-bar {
    height: 100%;
    display: block;
    background: #1ED760;
    border-radius: 9px;
}

.top-tracks {
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}

.track-meta {
    bottom: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
    z-index: 10;
    background: rgba(0,0,0, 0.75);
    color: #fff;
    font-size: 0.8rem;
}

.artist-name {

}

.track-name {
    font-weight: 700;
    font-size: 1rem;
}

.playlists {
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}

.playlist {
    
}

.playlist:last-child {
    
}

.playlist-name-panel {
    background: #fff;
    border-top: 0.25rem solid #000;
}

.playlist-name {
    color: #000;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: -1px;
    text-transform: uppercase;
}

.playlist-image {
    object-fit: cover;
    display: block;
    overflow: hidden;
}

.playlist-image::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.playlist-image-green {
    background-color: #00ff36;
}

.playlist-image-green img {
    mix-blend-mode: multiply;
    -webkit-filter: grayscale(100%) contrast(1.2);
    filter: grayscale(100%) contrast(1);
}

.playlist-image-green::after {
    background-color: #23278a;
    mix-blend-mode: lighten;
}

.playlist-image-red-purple {
    background-color: #e41c2d;
}

.playlist-image-red-purple img {
    mix-blend-mode: multiply;
    -webkit-filter: grayscale(100%) contrast(1);
    filter: grayscale(100%) contrast(.8);
}

.playlist-image-red-purple::after {
    background-color: #1d3162;
    mix-blend-mode: lighten;
}

.playlist-image-retro {
    background-color: #f1e3a0;
}

.playlist-image-retro img {
    mix-blend-mode: darken;
    -webkit-filter: grayscale(100%) contrast(2);
    filter: grayscale(100%) contrast(2);
}

.playlist-image-retro::after {
    background: linear-gradient(180deg, #f430a9, #f2e782);
    mix-blend-mode: lighten;
}

.playlist-image-blue-light {
    background-color: #181e59;
}

.playlist-image-blue-light img {
    mix-blend-mode: lighten;
    -webkit-filter: grayscale(100%) contrast(.8);
    filter: grayscale(100%) contrast(.8);
}

.playlist-image-blue-light::after {
    background-color: #E7E1A6;
    mix-blend-mode: multiply;
}

.playlist-image-blue {
    background-color: #77acd4;
}

.playlist-image-blue img {
    mix-blend-mode: multiply;
    -webkit-filter: grayscale(100%) contrast(1.2);
    filter: grayscale(100%) contrast(1.2);
}

.playlist-image-blue::after {
    background-color: #033dc5;
    mix-blend-mode: lighten;
}

.playlist-image-dark-red {
    background-color: #ed060b;
}

.playlist-image-dark-red img {
    -webkit-filter: grayscale(100%) contrast(1.2);
    filter: grayscale(100%) contrast(1.2);
    mix-blend-mode: lighten;
}

.playlist-image-dark-red::after {
    background-color: #70e4ee;
    mix-blend-mode: multiply;
}

.playlist-image-flat-retro {
    background-color: #FCA300;
}

.playlist-image-flat-retro img {
    mix-blend-mode: darken;
    -webkit-filter: grayscale(100%) contrast(1.5);
    filter: grayscale(100%) contrast(1.5);
}

.playlist-image-flat-retro::after {
    background-color: #e23241;
    mix-blend-mode: lighten;
}

.playlist-image-teal {
    background-color: #d7a621;
}

.playlist-image-teal img {
    mix-blend-mode: multiply;
    -webkit-filter: grayscale(100%) contrast(1.2);
    filter: grayscale(100%) contrast(1.2);
}

.playlist-image-teal::after {
    background-color: #0c6249;
    mix-blend-mode: lighten;
}

.playlist-image-purple {
    background-color: #88169d;
}

.playlist-image-purple img {
    -webkit-filter: grayscale(100%) contrast(1.2);
    filter: grayscale(100%) contrast(1.2);
    mix-blend-mode: lighten;
}

.playlist-image-purple::after {
    mix-blend-mode: hard-light;
    background: linear-gradient(to top left, #75d775, #321a5b);
}

.playlist-image-pink {
    background-color: #FCA300;
}

.playlist-image-pink img {
    mix-blend-mode: darken;
}

.playlist-image-pink::after {
    background: #282581;
    mix-blend-mode: lighten;
    -webkit-filter: contrast(1.1);
    filter: contrast(1.1);
}

.playlist-image-yellow {
    background-color: #e0de2c;
}

.playlist-image-yellow img {
    mix-blend-mode: multiply;
    -webkit-filter: grayscale(100%) contrast(.8);
    filter: grayscale(100%) contrast(.8);
}

.playlist-image-yellow::after {
    background-color: #b71310;
    mix-blend-mode: lighten;
}

.playlist-image-orange {
    background-color: #f65e35;
}

.playlist-image-orange img {
    mix-blend-mode: multiply;
    -webkit-filter: grayscale(100%) contrast(1.2);
    filter: grayscale(100%) contrast(1.2);
}

.playlist-image-orange::after {
    background-color: #1e3265;
    mix-blend-mode: lighten;
}

.playlist-image-blue-red {
    background-color: #E50914;
}

.playlist-image-blue-red img {
    -webkit-filter: grayscale(100%) contrast(1.2);
    filter: grayscale(100%) contrast(1.2);
    opacity: .8;
}

.playlist-image-blue-red::after {
    mix-blend-mode: lighten;
    -webkit-filter: contrast(1.1);
    filter: contrast(1.1);
    background-color: #282581;
}

.playlist-image-gold {
    background-color: #367ABD;
}

.playlist-image-gold img {
    mix-blend-mode: lighten;
    -webkit-filter: grayscale(100%) contrast(1);
    filter: grayscale(100%) contrast(.8);
}

.playlist-image-gold::after {
    background-color: #F9ED3A;
    mix-blend-mode: multiply;
}

.fade-enter {
    opacity: 0.01;
    transform: translateY(50px);
  }
   
  .fade-enter.fade-enter-active) {
    transition: opacity 250ms ease-in;
    opacity: 1;
  }
   
  .fade-appear { opacity: 0.01; }
  .fade-appear.fade-appear-active { opacity: 1; transition: opacity 250ms ease-in; }
   
  .fade-leave {
    opacity: 1;
  }
   
  .fade-leave.fade-leave-active {
    opacity: 0.01;
    transition: opacity 100ms ease-in;
  }
